<div class="container mt-5">
    <!-- Tabela de cartões -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Number</th>
          <th>Type</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{ card.id }}</td>
          <td>{{ card.name }}</td>
          <td>{{ card.number }}</td>
          <td>{{ card.type }}</td>
          <td>
            <span [ngClass]="{ 'text-success': card.status, 'text-danger': !card.status }">
              {{ card.status ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="toggleCardStatus(card)">
              {{ card.status ? 'Deactivate' : 'Activate' }}
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCard(card.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- Selecione um usuário -->
    <div class="form-group mb-3">
        <label for="userSelect">Selecione um usuário:</label>
        <select id="userSelect" class="form-control" [(ngModel)]="selectedUserId" name="userSelect" (change)="loadCards()">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>
    
      <!-- Formulário para criar um novo cartão -->
      <form (ngSubmit)="createCard()">
        <div class="form-group mb-3">
          <label for="cardName">Nome do Cartão:</label>
          <input type="text" id="cardName" class="form-control" [(ngModel)]="newCard.name" name="cardName" required>
        </div>
    
        <div class="form-group mb-3">
          <label for="cardType">Tipo de Cartão:</label>
          <select id="cardType" class="form-control" [(ngModel)]="newCard.type" name="cardType">
            <option value="TRABALHADOR">TRABALHADOR</option>
            <option value="COMUM">COMUM</option>
            <option value="ESTUDANTE">ESTUDANTE</option>
          </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Criar Cartão</button>
      </form>
    
   
      
  </div>